/* Default stylings */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Body stylings */
body {
    background-color: #d9dcd6;
}

/* Header stylings */
header h1, header h1 em, footer * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 20px;
    background-color: #2a607c;
}

header h1 {
    /* Put the heading inline */
    display: inline-block;
    font-size: 48px;
}

em.seo {
    /* Remove italicizaton */
    font-style: normal;
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav a {
    margin-left: 25px;
    /* Remove link underlining */
    text-decoration: none;
}

/* Hero image styling */
img.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 21px;
    /* Keep image's aspect ratio */
    object-fit: cover;
}

/* Main body stylings */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
}

main section img {
    max-height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

p {
    font-size: 16px;
}

/* Sidebar stylings */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

aside section {
    margin-bottom: 32px;
}

aside h2 {
    margin-bottom: 10px;
    /* Match font size of the original h3 elements */
    font-size: 18.72px;
    text-align: center;
}

aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Footer stylings */
footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer * {
    color: #000000;
}

footer h2 {
    font-size: 20px;
}
